<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
       <link rel="stylesheet" type="text/css" href="{% static 'goods/bootstrap.css' %}" />
    <title></title>
</head>
<body>
{% block sidebar %}
    <div>
    <ul class="nav nav-tabs nav-stacked span4" style="background-color:#C6E2FF">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'all_goods_list' %}">All</a></li>
        <li>menu</li>
        <li>Here should be menu</li>
        <li>menu</li>
        <li>Here should be menu</li>
        <li>
            {% if request.user.is_authenticated %}
                User: {{ request.user.user_name}}
                <a href="{% url 'logout' %}">logout</a>
            {% else %}
            <a href="{% url 'login' %}">login</a>
            {% endif %}
        </li>
    </ul>
    </div>
{% endblock %}
{% block content %}{% endblock %}

</body>
</html>